BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: AfterColon
SpaceBeforeCtorInitializerColon: true
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: DontAlign
PointerAlignment: Left
DerivePointerAlignment: false
SpaceAfterTemplateKeyword: true
NamespaceIndentation: None
AccessModifierOffset: -4
ColumnLimit: 120
SortIncludes: false
SpaceInEmptyBlock: true
